<div class="input-form">
  <% if @accept_loose %>
    <%= render "forms/loose_id_form" %>
  <% else %>
    <%= render "forms/csv_upload_form" %>
  <% end %>
</div>

<input class= "index-export" type="button" onclick="tableToExcel('main', 'newfile')" value="Export to Excel">
<table id="main" class="clearance-batches">
  <thead>
    <tr>
      <th>Batch Id</th>
      <th>Date clearanced</th>
      <th>Number of Items Clearanced</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @clearance_batches.each do |clearance_batch| -%>
      <tr>
        <td>Clearance Batch <%= clearance_batch.id %></td>
        <td><%= l(clearance_batch.created_at, format: :short) %></td>
        <td><%= clearance_batch.items.count %></td>
        <td><%= link_to("View Clearance Report", clearance_batch_path(clearance_batch)) %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
