<h2>Clearance Batches</h2>

<% if @accept_loose %>

  <%= form_tag(clearance_batches_path, class: 'form-inline loose', role: 'form') do %>
    <div class="form-group">
      <h4>Enter or scan in ids seprated by commas ie: 1, 13, 5</h4>
      <h6>Click and drag on the bottom right corner to expand the box</h6>
      <%= text_area_tag 'ids',"", class: 'form-control' %>
      <%= hidden_field_tag "loose_ids", true %>
    </div>
    <%= button_tag 'upload batch file', class: 'btn btn-primary', data: { disable_with: "Submitting..." } %>
  <% end %>

<% else %>

  <%= form_tag(clearance_batches_path, multipart: true, class: 'form-inline', role: 'form') do %>
    <div class="form-group">
      <%= hidden_field_tag "csv_file", true %>
      <%= file_field_tag 'csv_batch_file', class: 'form-control'%>
    </div>
    <%= submit_tag 'upload batch file', class: 'btn btn-primary', data: { disable_with: "Submitting..." } %>
  <% end %>

<% end %>

<table class="clearance-batches">
  <thead>
    <tr>
      <th>Batch Id</th>
      <th>Date clearanced</th>
      <th>Number of items clearanced</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @clearance_batches.each do |clearance_batch| -%>
      <tr>
        <td>Clearance Batch <%= clearance_batch.id %></td>
        <td><%= l(clearance_batch.created_at, format: :short) %></td>
        <td><%= clearance_batch.items.count %></td>
        <td><%= link_to("View Clearance Report", clearance_batch_path(clearance_batch)) %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
