<table class="above">
    <thead class="statistics">
      <tr>
        <th>Total Items</th>
        <th>Sweaters</th>
        <th>Tops</th>
        <th>Dresses</th>
        <th>Scarves</th>
        <th>Pants</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td><%= items.count %></td>
        <td><%= items.sweaters.count %></td>
        <td><%= items.tops.count %></td>
        <td><%= items.dresses.count %></td>
        <td><%= items.scarves.count %></td>
        <td><%= items.pants.count %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
</table>
