<% style = item.style %>
<% item.price_sold ||= 0.00 %>

<tr>
  <td><%= item.id %></td>
  <td><%= style.id %></td>
  <td><%= style.type %></td>
  <td class="name"><%= style.name %></td>
  <!-- make human readable size -->
  <td><%= item.size %></td>
  <td><%= item.color %></td>
  <td><%= item.status %></td>
  <td><%= '%.2f' % item.price_sold %></td>
  <td><%= item.sold_at %></td>
</tr>
