<% style = item.style %>
<% item.price_sold ||= 0.00 %>
<% date = item.sold_at.blank? ? nil : item.sold_at.strftime("%D") %>

<tr class="item">
  <td><%= item.id %></td>
  <td><%= style.id %></td>
  <td><%= style.type %></td>
  <td class="name"><%= style.name %></td>
  <td><%= item.human_readable_size %></td>
  <td><%= item.color %></td>
  <td><%= item.status %></td>
  <td><%= '%.2f' % item.price_sold %></td>
  <td><%= date %></td>
</tr>
