<!DOCTYPE html>
<html>
<head>
  <title>TakeHomeChallenge</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container <%= controller_name %> <%= action_name %>">
    <%= render "layouts/header" %>
    <%= render "layouts/flash_notices" %>
    <%= yield %>
  </div>

</body>
</html>
